@model HomeModel

@{
    ViewData["Title"] = "Home Page";
}

<form method="get" class="mb-2 form-inline">
    <div class="form-group mb-2">
        <input class="form-control" type="date" id="fromDate" asp-for="FromDate" />
    </div>
    <div class="form-group mb-2 ml-1">
        <input class="form-control" type="date" id="toDate" asp-for="ToDate" />
    </div>

    <button class="btn btn-primary mb-2 ml-1" type="submit">Refresh</button>
</form>

@foreach (var day in Model.DailyMeals.OrderByDescending(x => x.Day))
{
    <div class="card mb-3">
    <div class="card-header">
        <h3>@day.Day.Date.ToLongDateString()</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-4">
                <canvas id="calorieChart-@day.Day.Date" width="1" height="1"></canvas>
                <div class="d-lg-none mb-2"></div>
            </div>

            <div class="col-lg-8">
                @foreach (var meal in day.Meals.OrderBy(x => x.At))
                    {
                        <div class="row mb-1">
                            <div class="col-7 col-md-5">
                                <a asp-action="MealEditor" asp-route-id="@meal.Food.Id"
                            asp-route-qty="@meal.Quantity">@(meal.Quantity)g
                                    @meal.Food.Name</a><br class="d-md-none" />
                                <small class="text-muted">@(meal.CalculateKiloCalories())kcal</small>
                            </div>
                            <div class="d-none d-md-block col-md-3">
                                <div class="row">
                                    <div class="col-4 px-0">
                                        @(meal.CalculateProtein().ToString("N0"))g
                                    </div>
                                    <div class="col-4 px-0">
                                        @(meal.CalculateCarbohydrates().ToString("N0"))g
                                    </div>
                                    <div class="col-4 px-0">
                                        @(meal.CalculateFat().ToString("N0"))g
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 col-md-4">
                                <a class="btn btn-danger float-right ml-1" onclick="return confirm('Are your sure?');"
                            asp-action="MealDelete" asp-route-at="@meal.At"><i class="fa fa-times"></i></a>
                                <a class="btn btn-secondary float-right" asp-action="MealEditorAt" asp-route-at="@meal.At"><i
                                class="fa fa-edit"></i></a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="card-footer">
            <span class="font-weight-bold">@(day.CalculateKiloCalories().ToString("N0")) kcal</span>
            <span class="text-muted">(@(day.CalculatePrice().ToString("N2")) €)</span>
            <ul class="list-unstyled">
                <li class="d-inline">Protein @(day.CalculateProtein().ToString("N0"))g</li>
                <li class="d-inline">Carbohydrate @(day.CalculateCarbohydrates().ToString("N0"))g</li>
                <li class="d-inline">Fat @(day.CalculateFat().ToString("N0"))g</li>
            </ul>
        </div>
    </div>
}

<div class="card">
    <div class="card-header">
        <h3>Calorie summary</h3>
    </div>
    <div class="card-body">
        <form class="mb-2 form-inline">
            <div class="form-group mb-2">
                <input class="form-control" type="date" id="calorieSummaryFromDate" asp-for="FromDate" />
            </div>
            <div class="form-group mb-2 ml-1">
                <input class="form-control" type="date" id="calorieSummaryToDate" asp-for="ToDate" />
            </div>

            <button class="btn btn-primary mb-2 ml-1" onclick="calorieSummary(); return false;">Load</button>
        </form>

        <div class="container mb-2" style="height: 300px">
            <canvas id="calorieSummary" width="1" height="1"></canvas>
        </div>
    </div>
</div>
